body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playedCards{
  min-height: 200px;
  background: brown;
}

.difuminate{
  opacity: 40%;
}

.commandControl button{
  width: 100%;
  height: 100%;
}

.cardImage{
  width: 100%;
}

.log{
  min-height: 400px;
}

.containerConditionalComponents{
  width: 100%;
}

.commandControl{
  min-height: 160px;
}